<section class="py-32 px-6">
  <div class="max-w-5xl mx-auto space-y-12">
    <!-- TITLE -->
    <div>
      <h2 class="text-3xl md:text-4xl font-semibold tracking-tight">
        Progetti
      </h2>
      <p class="text-neutral-500 mt-2">Alcuni progetti su cui ho lavorato.</p>
    </div>

    <!-- GRID -->
    <div class="grid md:grid-cols-2 gap-8">
      <!-- PROJECT -->
      <div
        class="rounded-3xl border border-neutral-200 bg-white overflow-hidden shadow-sm hover:scale-[1.01] transition"
      >
        <!-- IMAGE -->
        <div class="aspect-video overflow-hidden bg-neutral-100">
          <img
            src="assets/projects/phone-store.png"
            class="w-full h-full object-cover"
            alt="Phone Store"
          />
        </div>

        <!-- CONTENT -->
        <div class="p-8 space-y-4">
          <div class="space-y-1">
            <h3 class="text-xl font-semibold">Phone Store</h3>
            <p class="text-neutral-400 text-sm">
              Angular · Firebase . Full-Stack project
            </p>
          </div>

          <p class="text-neutral-500 leading-relaxed">
            Primo progetto personale in Angular per la gestione di un piccolo
            e-commerce che simula un negozio online di smartphone. Permette di
            visualizzare prodotti, consultarne i dettagli e aggiungerli al
            carrello.
          </p>

          <!-- LINKS -->
          <div class="flex gap-5 pt-2 text-sm">
            <a
              href="https://github.com/BasilElsaid/phone-store"
              target="_blank"
              class="text-neutral-600 hover:text-black transition"
            >
              GitHub →
            </a>

            <a
              href="https://phone-store-seven-nu.vercel.app/home"
              target="_blank"
              class="text-neutral-600 hover:text-black transition"
            >
              Live →
            </a>
          </div>
        </div>
      </div>
      <!-- PROJECT -->
      <div
        class="rounded-3xl border border-neutral-200 bg-white overflow-hidden shadow-sm hover:scale-[1.01] transition"
      >
        <!-- IMAGE -->
        <div class="aspect-video overflow-hidden bg-neutral-100">
          <img
            src="assets/projects/job-matching.png"
            class="w-full h-full object-cover"
            alt="Phone Store"
          />
        </div>

        <!-- CONTENT -->
        <div class="p-8 space-y-4">
          <div class="space-y-1">
            <h3 class="text-xl font-semibold">
              Platform Aziende – Sistema SPA per la Gestione di Annunci di
              Lavoro
            </h3>
            <p class="text-neutral-400 text-sm">
              Angular · NestJS . Full-Stack project
            </p>
          </div>

          <p class="text-neutral-500 leading-relaxed">
            Applicazione web sviluppata come caso di studio per l’analisi
            dell’architettura Single Page Application (SPA). La piattaforma
            permette alle aziende di pubblicare annunci di lavoro e agli
            studenti di consultarli.
          </p>

          <!-- LINKS -->
          <div class="flex gap-5 pt-2 text-sm">
            <a
              href="https://github.com/BasilElsaid/progetto-tesi"
              target="_blank"
              class="text-neutral-600 hover:text-black transition"
            >
              GitHub →
            </a>

            <a
              href="https://progetto-tesi-rc1u.vercel.app"
              target="_blank"
              class="text-neutral-600 hover:text-black transition"
            >
              Live →
            </a>
          </div>
        </div>
      </div>

      <!-- PROJECT -->
      <div
        class="rounded-3xl border border-neutral-200 bg-white overflow-hidden shadow-sm hover:scale-[1.01] transition"
      >
        <!-- CONTENT -->
        <div class="p-8 space-y-4">
          <div class="space-y-1">
            <h3 class="text-xl font-semibold">
              Piattaforma di Digitalizzazione e Valorizzazione della Filiera
              Agricola Locale
            </h3>
            <p class="text-neutral-400 text-sm">
              Spring Boot · Backend project
            </p>
          </div>

          <p class="text-neutral-500 leading-relaxed">
            Il progetto ha come obiettivo la realizzazione di una piattaforma
            software per la digitalizzazione e la valorizzazione della filiera
            agricola locale, con particolare riferimento a un territorio
            comunale. La piattaforma consente la gestione, la tracciabilità e la
            condivisione delle informazioni relative ai prodotti agricoli
            locali. Il sistema è pensato come uno strumento di supporto alla
            trasparenza e alla qualità, permettendo agli utenti di comprendere
            l’origine, il percorso produttivo e le caratteristiche dei prodotti
            tipici del territorio.
          </p>

          <!-- LINKS -->
          <div class="flex gap-5 pt-2 text-sm">
            <a
              href="https://github.com/BasilElsaid/filiera-agricola"
              target="_blank"
              class="text-neutral-600 hover:text-black transition"
            >
              GitHub →
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
