<nav
  class="fixed top-0 w-full bg-white/80 backdrop-blur border-b border-neutral-200 z-50"
>
  <div class="max-w-5xl mx-auto px-6 py-5 relative flex items-center">
    <!-- DESKTOP MENU -->
    <div
      class="hidden md:flex gap-8 text-sm text-neutral-600 absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2"
    >
      <a
        routerLink="/"
        routerLinkActive="text-black"
        [routerLinkActiveOptions]="{ exact: true }"
        class="hover:text-black transition"
      >
        Home
      </a>

      <a
        routerLink="/projects"
        routerLinkActive="text-black"
        class="hover:text-black transition"
      >
        Projects
      </a>

      <a
        routerLink="/about"
        routerLinkActive="text-black"
        class="hover:text-black transition"
      >
        About
      </a>

      <a
        routerLink="/contact"
        routerLinkActive="text-black"
        class="hover:text-black transition"
      >
        Contact
      </a>
    </div>

    <!-- MOBILE BURGER -->
    <div class="ml-auto md:hidden">
      <button (click)="menuOpen = !menuOpen">
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M4 6h16M4 12h16M4 18h16"
          />
        </svg>
      </button>
    </div>
  </div>

  <!-- MOBILE MENU -->
  <div *ngIf="menuOpen" class="md:hidden border-t border-neutral-200 bg-white">
    <div
      class="flex flex-col text-sm text-neutral-600 px-6 py-5 pt-4 space-y-4"
    >
      <a routerLink="/" routerLinkActive="text-black" (click)="menuOpen = false"
        >Home</a
      >
      <a
        routerLink="/projects"
        routerLinkActive="text-black"
        (click)="menuOpen = false"
        >Projects</a
      >
      <a
        routerLink="/about"
        routerLinkActive="text-black"
        (click)="menuOpen = false"
        >About</a
      >
      <a
        class="hover:text-black transition cursor-pointer"
        (click)="scrollToFooter()"
      >
        Contact
      </a>
    </div>
  </div>
</nav>
